<div class="calculator padding-tb">
  <div class="more_details">
    <div>
      <p>1 USD equals</p>
      <h4>430 NGN</h4>
    </div>
    <button class="btn">More Details</button>
  </div>
  <div class="form_details">
    <input class="input" type="number" placeholder="Amount" />
    <div class="selectbox">
      <select class="select">
        <option>AED</option>
      </select>
      <img src="./assets/swap.png" />
      <select class="select">
        <option>AED</option>
      </select>
    </div>
    <input
      class="output"
      type="text"
      placeholder="Value"
      value="1USD"
      readonly
    />
  </div>
</div>
